/* Table Style Sheet */

body{
	font-family: arial, veranda, sans-serif;
	color: #000000;
}

table{
	border: solid 1px #000000;
}

th{
	background-color: #808080;
	color: #ffffff;
	font-weight: bold;
	padding: 4px;
	text-align: center;
}

tr{
	background-color: #9e9e9e;
}

tr.odd{
	background-color: #bfbfbf;
}

td{
	padding: 2px;
	color: #000000;
}